/** sprite: mysprite; sprite-image: url('img/mysprite.png'); sprite-layout: vertical */

*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font:normal 100% Arial,sans-serif;font-size:14px; font-size:1.4rem;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }
}


.img{
    max-width: 80%;
}
.wrapper{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    min-width: 320px;
}
.header{
    background-color: #2d94fb;
    overflow: hidden;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.msg-header{
    background-color: #5fc0ce;
    font-size: 2.5rem;
    padding: 1rem;
    overflow: hidden;
}
.msg button{
    background-color: #F34703;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding-top:0.2rem ;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border: 1px solid orangered;
    float: right;
}
.button-triangle{
    width: 0;
    height: 0;
    margin: 0;
    border-top: 1.3rem solid transparent;
    border-right:1rem solid transparent;;
    border-bottom: 1.3rem solid transparent;
    border-left: 1.7rem solid white;

}
.msg-triangle{
    height: 1rem;
    background-color: #2d94fb;
    padding-left: 4rem;
}
.triangle{
    width: 0;
    height: 0;
    border-top: 1rem solid #5fc0ce;
    border-right:1rem solid transparent;;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid transparent;
}
.msg-footer{
    font-size: 2.2rem;
    background-color: #2d94fb;
    padding-left: 4.5rem;
}
.box{
    box-sizing: border-box;
    float: left;
    width: 24%;
    margin: 4% 0 2% 7%;
    text-align: center;
    overflow: hidden;

}
.box-header{
    border: 3px solid white;

}
.box-name{
    padding: 25% 0;
    font-size: 3rem;
    background: #f5c97b;
}
.box-number{
    font-size: 2.2rem;
    color: white;
    background: #83b09a;
}
.box-footer{
    width: 100%;
    margin-top: 5%;
    opacity: 0;
    font-size: 0;
}
.main{
    background-color: #2d94fb;
    overflow: hidden;
}
ul{
    overflow: hidden;
}
li{
    display: inline-block;
    background-repeat:no-repeat ;
    width: 20%;
    padding: 12.5% 1%;
    list-style: none;
    background-size: 80%;


}
.box{
    float: left;
}
.kill{
    background-image:url(picture/task6-2-s-1.png) ;/** sprite-ref: mysprite;sprite-margin-bottom：5px; */
}
.search{
    background-image:url(picture/task6-2-s-2.png) ;/** sprite-ref: mysprite;sprite-margin-bottom：5px; */
}
.aim{
    background-image:url(picture/task6-2-s-3.png) ;/** sprite-ref: mysprite;sprite-margin-bottom：5px; */
}
.salvation{
    background-image:url(picture/task6-2-s-4.png) ;/** sprite-ref: mysprite;sprite-margin-bottom：5px; */
}
.box:hover .box-footer{
    opacity: 1;
}
.footer{
    border: none;
    border-top: 1px solid #888888;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    padding: 0 auto;
    background-color: #2d94fb;
    text-align: center;
}
.footer button{
    padding: 5% 30%;
    margin: 5% auto;
    font-size: 3rem;
    color: white;
    background: #fbb435;
    border-top: 1px white solid;
}
