@media screen and (max-width: 1220px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 52.5%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}

.banner img {
    width: 100%;
}
body{
    background-color: #fafafa;
}
h3{
    font-size: 1.6rem;
    font-weight: 500;


}

.catalog span{
    color: #1ba36e;
    font-size: 1.6rem;
}
#sidebar-h2{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    border-bottom: 1px solid #ededed;
    line-height: 20px;
    display: block;
    padding-bottom: 20px;
    margin: 10px -15px;
}
.sidebar{
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    box-shadow: #ededed 1px;

}
.sidebar li{
    list-style: none;
    font-size: 1.4rem;
    line-height: 5rem;
    color: #1ba36e;


}
.sidebar ul{
    padding-left: 0;
    margin-left:36%
}
.circle{

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background-image: url("picture/task10-2-icon.png");
}
.list{
    padding: 0 auto;
}
.detail {
    float: right;
    margin-bottom: 150px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 5px #ddd;
}
.detail p {
    padding: 30px;
    text-indent: 2.8rem;
    color: #999;
}
.first {
    margin: 0 auto;
    padding: 30px 0;
    font-size: 14px;
    line-height: 30px;
    color: #999;
    border-bottom: 1px solid #e6e6e6;
}
.first img {
    float: left;
    margin: 20px;
}
p.last {
    padding-bottom: 100px;
}
#tudou span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background-image: url("picture/task10-2-icon-tudou.png");
}
#tudou{
    color: #ff650e;

}
