
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 微软雅黑, serif;
    font-weight: normal;
}
ul{
    list-style: none;
}
body{
   width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
.header {
    width: 100%;
    margin:0 auto;
}
.header-top {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: 52px;
}
.header-top span {
    font-size: 14px;
    line-height: 52px;
    color:#1db176;
}
.icon-header {
    float: right;

}
.icon-header div {
    float: right;
    padding: 12px 5px;
}
.icon-header1-weixin {
    width: 25px;
    height: 25px;
    margin-right: 12px;
    background-color: #2d94fb;
}
.icon-header1-qq {
    width: 25px;
    height: 24px;
    margin-right: 12px;
}
.icon-header1-weibo {
    width: 25px;
    height: 24px;
    margin-right: 12px;
}
.header-footer-wrap{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    float: left;
    padding-top: 20px;
 }
.header-footer {
    height:101px;
    background: #1db176;
}
.header-footer.logo {
    float: left;
    padding-left: 18.75%;
    padding-top: 2%;
}
.header-footer .top-nav {
    float:right;
    font-size: 16px;
}
.header-footer ul li {
    display: inline-block;
    box-sizing: border-box;
    padding: 39px 25px;
    color: white;
    text-align: center;
}
.header-footer li:hover{
    border-bottom: 5px solid white;
}
.header-footer-li{
    border-bottom: 4px solid white;

}
.header-footer-123{
    border-bottom: 4px solid white;

}
.header a{
    color: white;
    font-size:16px;
    text-decoration: none;
}
.footer{
    background-color: #1db176;
    height: 200px;
    color: white;
}
.footer-middle-left{
    float: left;
    width: 240px;
    height: 100%;
    margin-right: 80px;

}
.footer-middle-left p{
    font-size: 16px;
    padding-top: 32px;
}
.footer-middle-left ul{
    float: left;
    padding-top: 60px;
}

.footer-middle-left ul li{
    display: inline-block;
}
.footer-middle-middle{
    float: left;
    width: 280px;
    height: 100%;
}
.footer-middle-middle p{
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 20px;
}
.footer-middle-left ul{
    float: left;
    padding-top: 60px;
}

.footer-middle-left ul li{
    display: inline-block;
    line-height: 10px;
}
.footer-middle-middle{
    float: left;
    width: 280px;
    height: 100%;
    margin-left: 100px;
}
.footer-middle-middle a{

}
.footer-middle-middle p{
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 20px;
}
.footer-middle-middle ul  li{
    float: left;
    padding-right: 30px;
    margin: 10px 0;
}
.footer-middle-right{
    float: right;
}
.footer-middle-right{
    float: right;
}
.footer-middle-right p{
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 10px;
}
.copyright{
    color: white;
    background-color: #1db176;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-top: 1px solid #32c086;
}
.footer-middle-left a{
    color: white;
    text-decoration: none;
}
.footer li:hover a{
    color: #1d7ad9;
    text-decoration: underline;
}
