.scroll{
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    min-height: 600px;
}
.carousel {
    position: absolute;
    transition: all 0.5s ease-in 0s;

}
.carousel .banner {
    float: left;
    text-align: center;
    width: 25%;
}
.button {
    text-align: center;
    border: none;
}

.pre {
    position: absolute;
    top: 44%;
    left: 12%;
    width: 27px;
    height: 46px;
    background: url("picture/task7-icon-pre.png") no-repeat ;
}

.next {
    position: absolute;
    top: 44%;
    right: 12%;
    width: 27px;
    height: 46px;
    background: url("picture/task7-icon-next.png") no-repeat ;
}
.main{
    box-sizing: border-box;
    margin: 0 18.25%;
}
.main-top{
    overflow: hidden;
    margin-top: 160px;

}

.good{
    float: left;
    width: 210px;
    margin-right: 90px;
    text-align: center;
    margin-left: 10px;
}
.good p{
    text-align: left;
    font-size: 16px;
    color: #83b09a;
}
.good-2 p{
    text-align: left;
    font-size: 16px;
    color: #83b09a;
}
.good-2{
    margin-top: 8px;
    float: left;
    width: 220px;
    margin-right: 90px;
    text-align: center;
}
.main-top h2{
    padding: 20px;
}
.main-top-right{
    float: left;
    width: 220px;
    padding: 48px 0 20px 50px;
    border-left: 1px dashed #999;
}
.main-top-right span{
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
    color: #1ba36e;
}
.main-top-right p{
    color: #83b09a;
    font-size: 18px;
}
.main-middle-1{
    margin-top: 160px;
}
.main-middle-1 h3{
    font-size: 18px;
    text-align: center;
}
.main-middle-1 li{
    display: inline-block;
    font-size: 16px;
}
.main-middle-1 list{
    width: 100%;
    padding: 25px 0;
}
.list li {
    display: inline-block;
    vertical-align: middle;
}

.list p {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    padding: 10px 5px 0 5px;
    text-align: left;
}
.circle1 {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    color: #29b078;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #e6e6e6;
}
.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 26px;
    margin: 0 15px;
    background-image: url("picture/task7-1-jiantou.png");
}

.profile-picture{
    margin: 20px 0;
}
.show p {
    padding: 20px;
    text-align: left;
    font-size: 14px;
    color: #999;
}
.main-middle-2{
    margin-top: 120px;
}
.main-middle-2 h3{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.show h2{
    font-size: 16px;
}
.show li {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin: 20px;
    text-align: center;
    border: 1px solid #eeeded;
    box-sizing: border-box;
    padding: 15px;
}

.show{
    text-align: center;
}
.more {
    width: 6rem;
    height: 2rem;
    margin: 2% auto;
}

.circle2 {
    float: left;
    width: 1rem;
    height: 1rem;
    margin: 1%;
    background-color: #f0f0f0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.5);
}
.main-middle-3{
    margin-top: 100px;
    height: 240px;
}
.main-middle-3 h3{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.main-middle-3 .logo{
    width: 100%;
    height: 175px;
    background-color: #fff;
    box-shadow: 0 0 1px #ddd;
    margin-left: 0
}
.main-middle-3 ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 50px 0;
    width: 235px;
    text-align: center;
}
.main-bottom{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}
.main-bottom h3{
    text-align: center;
    font-size: 18px;
    padding: 20px;
}
.main-bottom ul {
    text-align: center;
    width: 1200px;
    height: 30px;
}
.main-bottom ul li{
    float: left;
    width: 120px;
    list-style-type: disc;
    font-size: 14px;
    color: #999;
    line-height: 32px;
}
.main-bottom a{
    color:#999;
}
