.scroll {
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    min-height: 600px;
}

@media screen and (max-width: 1220px) {
    .scroll {
        min-width: 400px;
    }
}

body {
    background-color: #fafafa;
}

h2 {
    font-size: 18px;
}

.carousel {
    position: absolute;
    transition: all 0.5s ease-in 0s;
    width: 100%;
}

.carousel img {
    width: 100%;
}

.carousel .banner {
    float: left;
    text-align: center;
    width: 100%;
}

.button {
    text-align: center;
    border: none;
}

.pre {
    position: absolute;
    top: 44%;
    left: 12%;
    width: 27px;
    height: 46px;
    background: url("picture/task7-icon-pre.png") no-repeat;
}

.next {
    position: absolute;
    top: 44%;
    right: 12%;
    width: 27px;
    height: 46px;
    background: url("picture/task7-icon-next.png") no-repeat;
}

@media screen and (max-width: 1220px) {
    .scroll {
        min-height: 400px;
    }

    .next {
        top: 40%;

    }

    .pre {
        top: 40%;
    }
}

.carousel-bottom {
    position: absolute;
    bottom: 15px;
    right: 46%;
    width: 100px;
}

.carousel-bottom li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

@media screen and (max-width: 1220px) {
    .carousel-bottom {
        bottom: 30px;
    }
}
#carousel-bottom1{
    background-color: white;
}

.main {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.main-top {
    overflow: hidden;
    margin-top: 160px;

}

.good {
    float: left;
    width: 200px;
    margin-right: 90px;
    text-align: center;
    margin-left: 10px;
}

.good p {
    text-align: left;
    font-size: 16px;
    color: #83b09a;
}

.good-2 p {
    text-align: left;
    font-size: 16px;
    color: #83b09a;
}

.good-2 {
    margin-top: 8px;
    float: left;
    width: 220px;
    margin-right: 90px;
    text-align: center;
}

.main-top h2 {
    padding: 20px;
}

.main-top-right {
    float: left;
    width: 220px;
    padding: 48px 0 20px 50px;
    border-left: 1px dashed #999;
}

.main-top-right span {

    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
    color: #1ba36e;

}

.main-top-right p {
    color: #83b09a;
    font-size: 18px;
}

.main-middle-1 {
    margin-top: 160px;
}

.main-middle-1 h3 {
    font-size: 18px;
    text-align: center;
}

.main-middle-1 li {
    display: inline-block;
    font-size: 16px;
}

.main-middle-1 list {
    width: 100%;
    padding: 25px 0;
}

.list li {
    display: inline-block;
    vertical-align: middle;
}

.list p {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    padding: 10px 5px 0 5px;
    text-align: left;
    margin: 0 -5px;
    line-height: 25px;
}

.circle1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    color: #29b078;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #e6e6e6;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 26px;
    margin: 0 15px;
    background-image: url("picture/task7-1-jiantou.png");
    color: #999;
}

.profile-picture {
    margin: 20px 0;
}

.show p {
    padding: 20px;
    text-align: left;
    font-size: 14px;
    color: #999;
}

.main-middle-2 {
    margin-top: 120px;

}

.main-middle-2 h3 {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.show h2 {
    font-size: 16px;
}

.show li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 23%;
    margin: 20px 1%;
    text-align: center;
    border: 1px solid #eeeded;
    padding: 15px;
    background-color: white;
}
.show li:first-of-type{
    margin-left: 0;
}
.show li:last-of-type{
    margin-right: 0;
}

.show {
    text-align: center;
}

.more {
    width: 6rem;
    height: 2rem;
    margin: 2% auto;

}

.circle2 {
    float: left;
    width: 10px;
    height: 10px;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.5);

}

.circle3 {
    background-color: #1ba36e;
}

.main-middle-3 {
    margin-top: 100px;
    height: 240px;
    box-sizing: border-box;
    width: 1200px;
}

.main-middle-3 h3 {
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.main-middle-3 .logo {
    width: 100%;
    height: 175px;
    background-color: #fff;
    box-shadow: 0 0 1px #ddd;
    margin-left: 0
}

.main-middle-3 ul {
    padding: 0;

}

.main-middle-3 ul li {
    position: relative;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
    width: 240px;
    text-align: center;
    height: 175px;
    padding-top: 10px;
    line-height: 175px;
}

.main-middle-3 ul li:hover {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    border: 4px solid rgba(225, 225, 225, 0.5);
    z-index: 2;
}

.main-bottom {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.main-bottom h3 {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.main-bottom ul {
    text-align: center;
    width: 1200px;
    height: 30px;
}

.main-bottom a {
    text-decoration: none;

}

.main-bottom ul li {
    float: left;
    width: 120px;
    font-size: 14px;
    color: #999;
    line-height: 32px;
}

.main-bottom ul li:before {
    content: "\2022";
    position: relative;
    right: 10px;

}

.main-bottom a {
    color: #999;
}
